# Node.js dependencies
Client/Client/node_modules/
Projet_de_fin_de_semestre_Applications_Distribuées_et_Intelligence_Artificielle
# Python dependencies
Server/venv/

# System files
*.pyc
*.pyo
*.pyd
.env
.DS_Store
